/* Overview
############################################################################ */

.overview{
  main{
    opacity: var(--op-low);
    transition: all var(--tr-slow) var(--tr-fast);

    &.fade-in{
      opacity: 1;
    }
  }
}

/* Infotext
############################################################################ */

.info{
  padding: var(--xl) var(--s) var(--xxl) var(--s);
  background-color: var(--lightest);

  p{
    font-weight: var(--fw-normal);
  }
}

/* Textlink
############################################################################ */

ul.links{
  .text-link a{
    background-color: var(--lighter);
    display: flex;
    align-items: center;
    padding: 0 var(--half);
    transition: all var(--tr-fast);
    border-top: solid var(--border-width-s) var(--color-accent);

    span{
      margin-right: var(--quat);
    }

    &:hover{
      background-color: var(--color-accent);
      color: var(--lightest);
    }
  }

}