/* POI
############################################################################ */

.poi{

  .core-info{
    img{
      display: block;
      margin-left: calc(var(--s) * -1);
      width: calc(100% + (var(--s) * 2));
      max-width: calc(100% + (var(--s) * 2));
      margin-bottom: var(--s);
    }

    figcaption{
      padding: var(--m) var(--s);
      font-weight: var(--fw-normal);

      p + p {
        margin-top: var(--xs);
      }
    }
  }
}