* {
  /* TODO: Zeigen */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--ff-normal);
  font-size: var(--m);
  font-weight: var(--fw-normal);
  hyphens: auto;
  line-height: var(--lh-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headline);
  font-family: var(--ff-headline);
  font-weight: var(--fw-bold);
  line-height: var(--lh-tight);
  hyphens: none;
  margin-bottom: var(--s);
  text-wrap: balance;
}


h1{
  font-size: var(--xxl);
}

h2{
  font-size: var(--xl);
  font-weight: var(--fw-medium);
}

h3{
  font-size: var(--l);
}

h4, h5, h6{
  font-size: var(--m);
}

p, div {
  hyphens: auto;

  & > strong{
    color: var(--mi-lila);
  }

  & > mark, & > em{
    font-weight: var(--fw-medium);
    background-color: transparent;
  }
}

a {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: var(--fw-medium);
  transition: all var(--tr-fast);
  &:hover{
    background-color: var(--color-accent);
    color: var(--lightest);
    padding: 0 var(--quat);
  }
}

small{
  opacity: var(--op-medium);
  font-size: 80%;
}

p + p {
  margin-top: var(--s);
}


p + h2{
  margin-top: var(--xxl);
}

p + h3,
p + h4{
  margin-top: var(--xl);
}

/* DEV
############################################################################ */

.rs-base{
  //display: none;
}