:root {

  --bfs: 1rem;
  --half: calc(var(--bfs) / 2); // halbes geviert
  --quat: calc(var(--bfs) / 4); // viertel geviert
  --xxs: calc(var(--bfs) * 0.4);
  --xs: calc(var(--bfs) * 0.6);
  --s: calc(var(--bfs) * 0.8);
  --m: calc(var(--bfs) * 1);
  --l: calc(var(--bfs) * 1.2);
  --xl: calc(var(--bfs) * 1.4);
  --xxl: calc(var(--bfs) * 2.0);
  --xxxl: calc(var(--bfs) * 2.8);
  --xxxxl: calc(var(--bfs) * 3.8);

  --button-size: 44px;

  --light: #ccc;
  --lighter: #eee;
  --lightest: #fff;
  --lighten: rgba(255,255,255,0.5);
  --lighten-strong: rgba(255,255,255,0.8);
  
  --dark: #888;
  --darker: #333;
  --darkest: #000;
  --darken: rgba(0, 0, 0, 0.1);
  --darken-strong: rgba(0, 0, 0, 0.3);

  --obk-gelb: #F2CB05;
  --obk-grau: #666666;
  --obk-blau: #0090d4;
  --obk-rot: #c50e1f;
  --obk-akzent-1: #cbe2ec;
  --obk-akzent-2: #f1f2f5;

  --color-text: var(--darker);
  --color-headline: var(--darkest);
  --color-accent: var(--obk-blau);
  --color-decoration: var(--obk-akzent-1);
  --color-background: var(--lightest);
  
  --system-ui: Verdana, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --ff-normal: var(--system-ui), sans-serif;
  --ff-serif: var(--system-ui), serif;
  --ff-code: var(--system-ui), monospace;
  --ff-headline: var(--system-ui), monospace;
  --ff-icons: 'MaterialIcons', serif;

  --fw-normal: 300;
  --fw-medium: 500;
  --fw-bold: 700;

  --level-bg: 0;
  --level-content: 10;
  --level-navigation: 80;
  --level-main-nav: 100;

  --lh-normal: 140%;
  --lh-tight: 110%;
  --lh-loose: 150%;

  --max-width-content: 120ch;

  --tr-fast: 0.2s;
  --tr-slow: 0.6s;
  --tr-delay: 1.2s;

  --op-low: 0.2;
  --op-medium: 0.6;

  --shadow-l: 0 0 var(--xs) rgba(0, 0, 0, 0.5);
  --shadow-xl: var(--half) var(--half) var(--m) rgba(0, 0, 0, 0.3);
  --shadow-card: 0 0 var(--l) rgba(0, 0, 0, 0.1);

  --border-width-s: 1px;
  --border-width-m: 3px;
  --border-width-l: 6px;

  --border-radius-s: 3px;
  --border-radius-m: 6px;
  --border-radius-l: 12px;

}

/* Viewportgrößen für Media Queries
   Hier greifen Custom Properties nicht. */
$vp-large: 1400px;
