.arjs-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#arjs-video{
  z-index: var(--level-content);
  overflow: hidden;
}


/* Media Controls
############################################################################ */

.arjs-loader div {
  text-align: center;
  font-size: 1.25em;
  color: white;
}

.media-controls {
  opacity: 0;
  transition: all var(--tr-slow) var(--tr-delay);
  display: flex;
  gap: var(--m);
  z-index: 20;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);

  &.is-visible{
    opacity: 1;
  }

  button {
    width: var(--button-size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--l);
    aspect-ratio: 1/1;
    cursor: pointer;
    border: none;
    background-color: var(--color-accent);
    border-radius: 50%;
    box-shadow: var(--shadow-card);

    .icon {
      color: var(--lightest);
    }

    &.is-hidden{
      display: none;
    }
  }
  
  button:hover {
    background-color: var(--color-accent);
  }
}


