.arjs-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arjs-video{
  z-index: var(--level-content);
}

.arjs-loader div {
  text-align: center;
  font-size: 1.25em;
  color: white;
}
#media-controls {
  display: block;
  margin-bottom: 20px;
  z-index: 2;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

button {
  font-size: 20px;
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
}

button:hover {
  background-color: #2980b9;
}

#playButton::before {
  content: '\25B6'; /* Unicode symbol for Play */
}

#pauseButton::before {
  content: '\II'; /* Unicode symbol for Pause */
}

#stopButton::before {
  content: '\25A0'; /* Unicode symbol for Stop */
}