/* Info Card
############################################################################ */

.info-card {
    &-wrap{
      background-color: var(--lightest);
      z-index: 1;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: var(--op-full);

      border-top-left-radius: var(--border-radius-l);
      border-top-right-radius: var(--border-radius-l);
      box-shadow: var(--shadow-card);
    }

    &-body{

      max-height: 0;
      transition: max-height var(--tr-slow), padding var(--tr-slow);
      overflow: hidden;
      padding: var(--l) var(--l) 0 var(--l);
      max-width: var(--max-width-content);
  
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;

      &.is-active{
        max-height: 1200px;
        padding-bottom: var(--xl);
      }
    }

    &-item{
      margin-bottom: var(--s);
    }
  }

/* Info Card Navigation
############################################################################ */

.info-card{
  &-navigation{
    text-align: center;
    button{
      padding: 0;
      display: inline-block;
      height: var(--xs);
      border-radius: 2ch;
      width: 4ch;
      background-color: var(--darken-strong);
    }
  }
}