/* Main Footer
###########################################################################  */

.main-footer{
  padding: var(--quat) var(--s);
  font-size: var(--s);
  background-color: var(--light);
  color: var(--darker);
}