/* Main Footer
###########################################################################  */

.main-footer{
  padding: var(--m) var(--s);
  font-size: var(--s);
  background-color: var(--darkest);
  color: var(--lighten);
}