/* Main Header
###########################################################################  */

.main-header{

  display: flex;
  z-index: var(--level-main-nav);

  background-color: var(--color-background);

  align-items: baseline;
  
  .back-button{
    display: inline-block;
    width: var(--m);
    font-size: var(--xl);

    &.is-hidden{
      display: none;
    }

    &:hover{
      color: var(--color-accent);
      background-color: transparent;;
    }
  }

  & > *{
    margin: var(--s);
  }

  h1{
    flex-grow: 2;
  }
}