/* Overview
############################################################################ */

.overview, .path{
  margin: 0;
  padding: 0;

  & li.arlebnis-item + li.arlebnis-item {
    border-top: solid var(--border-width-s) var(--lightest);
  }

  & li{
    position: relative;
    display: block;
    background-size: cover;
    background-position: center center;
    z-index: 0;

    
    & > a{
      position: relative;
      display: block;
      aspect-ratio: 16/9;
      z-index: 2;

      p{
        position: absolute;
        bottom: var(--s);
        left: var(--xs);
        display: inline-block;
        font-size: var(--l);
        
        color: var(--lightest);
        text-wrap: balance;
        margin-right: var(--m);
        line-height: var(--lh-tight);

        .title-text{
          display: block;
          padding: var(--quat) var(--xs);
          background-color: var(--obk-blau);
          transition: all var(--tr-fast);
          
          &:hover{
            background-color: var(--darkest);
          }
        }

        .amount{
          padding: var(--quat) var(--xs);
          display: inline-block;
          font-size: var(--s);
          background-color: var(--darkest);
        }
      }
    }

    &.text-link a{
      aspect-ratio: 4/1;
    }

    &::before{
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(180deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 100%);
      z-index: 1;
    }
  }
}