/* Overview
############################################################################ */

.overview, .path{
  margin: 0;
  padding: 0;

  & li{
    position: relative;
    display: block;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    margin-bottom: var(--border-width-m);
    
    & > a{
      position: relative;
      display: block;
      min-height: calc(var(--m) * 8);
      z-index: 2;

      p{
        position: absolute;
        bottom: var(--s);
        left: var(--xs);
        display: inline-block;
        font-size: var(--l);
        background-color: var(--obk-blau);
        transition: all var(--tr-fast);
        padding: var(--quat) var(--s);
        color: var(--lightest);
  
        &:hover{
          transform: scale(1.2);
          transform-origin: bottom left;
        }
      }
    }

    &::before{
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(180deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 100%);
      z-index: 1;
    }
  }
}