/* Map
############################################################################ */

.map{
  flex-grow: 2;
}

.mapboxgl-map{
  font-family: var(--ff-normal);
  font-size: var(--s);
  line-height: var(--lh-normal);
  font-weight: var(--fw-normal);
}


/* Mapbox Popup
############################################################################ */
.mapboxgl-popup{

  &-close-button{
    color: var(--color-accent);
  }
  
  &-content{
    background-color: var(--darkest);
    padding-bottom: var(--quat);

    & * {
      color: var(--lightest);
    }
  }

}

/* Mapbox Popup Tips
############################################################################ */
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: var(--darkest);
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: var(--darkest);
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: var(--darkest);
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: var(--darkest);
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: var(--darkest);
}


/* Map Card
############################################################################ */

.map-card{
  &-desc{
    line-height: var(--lh-normal);
  }

  &-title{
    margin-top: var(--m);
  }
}