/* Liste der Partner
############################################################################ */

ul.list-of-partners{
  li{
    padding: var(--xl);

    &.small{
      scale: 0.7 ;
    }
    a{
      display: block;
      text-align: center;

      img{
        display: inline-block;
        width: 100%;
        max-width: 400px;
      }
    }
  }
}