@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Reveal Resets
############################################################################ */
.reveal .slides {
  text-align: left;
}
.reveal .controls {
  transform: scale(0.8);
}
.reveal .controls .highlight {
  animation: none !important;
}
.reveal .progress span {
  background-color: var(--color-decoration);
}

@font-face {
  font-display: swap;
  font-family: SourceSans;
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/Source_Sans_3/static/SourceSans3-Light.ttf");
}
@font-face {
  font-display: swap;
  font-family: SourceSans;
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Source_Sans_3/static/SourceSans3-Regular.ttf");
}
@font-face {
  font-display: swap;
  font-family: SourceSans;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Source_Sans_3/static/SourceSans3-SemiBold.ttf");
}
@font-face {
  font-display: swap;
  font-family: SourceSans;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Source_Sans_3/static/SourceSans3-Bold.ttf");
}
@font-face {
  font-family: "MaterialIcons";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2") format("woff2"), url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.woff") format("woff"), url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf") format("truetype");
}
.icon {
  display: inline-block;
  width: auto;
  height: auto;
  direction: ltr;
  font-family: var(--ff-icons);
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
}
.icon--s {
  font-size: var(--s);
  line-height: var(--s);
}
.icon--m {
  font-size: var(--m);
  line-height: var(--m);
}
.icon--l {
  font-size: var(--l);
  line-height: var(--l);
}
.icon--xl {
  font-size: var(--xl);
  line-height: var(--xl);
}
.icon.md-dark {
  color: var(--lightest);
}
.icon.md-light {
  color: var(--darkest);
}
.icon--inline {
  margin-right: var(--xs);
  font-size: var(--m);
}
.icon::before {
  content: attr(data-icon);
}

:root {
  --bfs: 1rem;
  --half: calc(var(--bfs) / 2);
  --quat: calc(var(--bfs) / 4);
  --xxs: calc(var(--bfs) * 0.4);
  --xs: calc(var(--bfs) * 0.6);
  --s: calc(var(--bfs) * 0.8);
  --m: calc(var(--bfs) * 1);
  --l: calc(var(--bfs) * 1.2);
  --xl: calc(var(--bfs) * 1.4);
  --xxl: calc(var(--bfs) * 1.6);
  --xxxl: calc(var(--bfs) * 1.8);
  --xxxxl: calc(var(--bfs) * 2);
  --light: #ccc;
  --lighter: #eee;
  --lightest: #fff;
  --lighten: rgba(255,255,255,0.5);
  --lighten-strong: rgba(255,255,255,0.8);
  --dark: #888;
  --darker: #111;
  --darkest: #000;
  --darken: rgba(0, 0, 0, 0.1);
  --color-text: var(--lighter);
  --color-headline: var(--light);
  --color-accent: var(--mi-pink);
  --color-decoration: var(--mi-gruen);
  --color-background: var(--darkest);
  --ff-normal: "SourceSans", sans-serif;
  --ff-serif: "PTserif", serif;
  --ff-code: "RobotoCode", monospace;
  --ff-headline: "Roboto", monospace;
  --ff-icons: "MaterialIcons", serif;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --lh-normal: 140%;
  --lh-tight: 110%;
  --lh-loose: 150%;
  --tr-fast: 0.2s;
  --tr-slow: 0.6s;
  --tr-delay: 1.2s;
  --op-low: 0.4;
  --op-medium: 0.6;
  --shadow-l: 0 0 var(--xs) rgba(0, 0, 0, 0.5);
  --shadow-xl: var(--half) var(--half) var(--m) rgba(0, 0, 0, 0.3);
  --border-width-s: 1px;
  --border-width-m: 3px;
  --border-width-l: 6px;
  --border-radius-s: 3px;
}

/* Viewportgrößen für Media Queries
   Hier greifen Custom Properties nicht. */
* {
  /* TODO: Zeigen */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--ff-normal);
  font-size: var(--m);
  font-weight: var(--fw-normal);
  hyphens: auto;
  line-height: var(--lh-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headline);
  font-family: var(--ff-headline);
  font-weight: bold;
  line-height: var(--lh-tight);
  hyphens: none;
}

h1 {
  font-size: var(--xxl);
}

h2 {
  font-size: var(--xl);
}

h3 {
  font-size: var(--l);
}

h4, h5, h6 {
  font-size: var(--m);
}

p, div {
  hyphens: auto;
}
p > strong, div > strong {
  color: var(--mi-lila);
}
p > mark, p > em, div > mark, div > em {
  font-weight: var(--fw-medium);
  background-color: transparent;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

small {
  opacity: var(--op-medium);
  font-size: 80%;
}

main {
  margin: var(--s);
}

/* Main Header
###########################################################################  */
.main-header > * {
  margin: var(--s);
}

/* Overview
############################################################################ */
.overview {
  margin: 0;
  padding: 0;
}
.overview li {
  display: block;
  background-size: cover;
  padding: var(--l);
}

/*# sourceMappingURL=main.css.map */
