@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Reveal Resets
############################################################################ */
.reveal .slides {
  text-align: left;
}
.reveal .controls {
  transform: scale(0.8);
}
.reveal .controls .highlight {
  animation: none !important;
}
.reveal .progress span {
  background-color: var(--color-decoration);
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-display: swap;
  font-family: Atkinson;
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf");
}
@font-face {
  font-display: swap;
  font-family: Atkinson;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf");
}
@font-face {
  font-family: "MaterialIcons";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2") format("woff2"), url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.woff") format("woff"), url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf") format("truetype");
}
.icon {
  display: inline-flex;
  width: auto;
  height: auto;
  direction: ltr;
  font-family: var(--ff-icons);
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: bottom;
  white-space: nowrap;
  word-wrap: normal;
  font-size: var(--xxxl);
}
.icon--s {
  font-size: var(--s);
  line-height: var(--s);
}
.icon--m {
  font-size: var(--m);
  line-height: var(--m);
}
.icon--l {
  font-size: var(--l);
  line-height: var(--l);
}
.icon--xl {
  font-size: var(--xl);
  line-height: var(--xl);
}
.icon.md-dark {
  color: var(--lightest);
}
.icon.md-light {
  color: var(--darkest);
}
.icon--inline {
  margin-right: var(--xs);
  font-size: var(--m);
}
.icon::before {
  content: attr(data-icon);
}

:root {
  --bfs: 1rem;
  --half: calc(var(--bfs) / 2);
  --quat: calc(var(--bfs) / 4);
  --xxs: calc(var(--bfs) * 0.4);
  --xs: calc(var(--bfs) * 0.6);
  --s: calc(var(--bfs) * 0.8);
  --m: calc(var(--bfs) * 1);
  --l: calc(var(--bfs) * 1.2);
  --xl: calc(var(--bfs) * 1.4);
  --xxl: calc(var(--bfs) * 1.6);
  --xxxl: calc(var(--bfs) * 1.8);
  --xxxxl: calc(var(--bfs) * 2);
  --light: #ccc;
  --lighter: #eee;
  --lightest: #fff;
  --lighten: rgba(255,255,255,0.5);
  --lighten-strong: rgba(255,255,255,0.8);
  --dark: #888;
  --darker: #333;
  --darkest: #000;
  --darken: rgba(0, 0, 0, 0.1);
  --darken-strong: rgba(0, 0, 0, 0.3);
  --obk-gelb: #F2CB05;
  --obk-grau: #666666;
  --obk-blau: #0090d4;
  --obk-rot: #c50e1f;
  --obk-akzent-1: #cbe2ec;
  --obk-akzent-2: #f1f2f5;
  --color-text: var(--darker);
  --color-headline: var(--darkest);
  --color-accent: var(--obk-blau);
  --color-decoration: var(--obk-akzent-1);
  --color-background: var(--lightest);
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --ff-normal: var(--system-ui), sans-serif;
  --ff-serif: var(--system-ui), serif;
  --ff-code: var(--system-ui), monospace;
  --ff-headline: var(--system-ui), monospace;
  --ff-icons: "MaterialIcons", serif;
  --fw-normal: 300;
  --fw-medium: 500;
  --fw-bold: 700;
  --level-bg: 0;
  --level-content: 10;
  --level-main-nav: 100;
  --lh-normal: 140%;
  --lh-tight: 110%;
  --lh-loose: 150%;
  --max-width-content: 120ch;
  --tr-fast: 0.2s;
  --tr-slow: 0.6s;
  --tr-delay: 1.2s;
  --op-low: 0.2;
  --op-medium: 0.6;
  --shadow-l: 0 0 var(--xs) rgba(0, 0, 0, 0.5);
  --shadow-xl: var(--half) var(--half) var(--m) rgba(0, 0, 0, 0.3);
  --shadow-card: 0 0 var(--l) rgba(0, 0, 0, 0.1);
  --border-width-s: 1px;
  --border-width-m: 3px;
  --border-width-l: 6px;
  --border-radius-s: 3px;
  --border-radius-m: 6px;
  --border-radius-l: 12px;
}

/* Viewportgrößen für Media Queries
   Hier greifen Custom Properties nicht. */
* {
  /* TODO: Zeigen */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--darkest);
  color: var(--color-text);
  font-family: var(--ff-normal);
  font-size: var(--m);
  font-weight: var(--fw-normal);
  hyphens: auto;
  line-height: var(--lh-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headline);
  font-family: var(--ff-headline);
  font-weight: var(--fw-bold);
  line-height: var(--lh-tight);
  hyphens: none;
  margin-bottom: var(--s);
  text-wrap: balance;
}

h1 {
  font-size: var(--xl);
}

h2 {
  font-size: var(--xl);
  font-weight: var(--fw-medium);
}

h3 {
  font-size: var(--l);
}

h4, h5, h6 {
  font-size: var(--m);
}

p, div {
  hyphens: auto;
}
p > strong, div > strong {
  color: var(--mi-lila);
}
p > mark, p > em, div > mark, div > em {
  font-weight: var(--fw-medium);
  background-color: transparent;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: var(--fw-medium);
  transition: all var(--tr-fast);
}

a.text-link:hover {
  background-color: var(--color-accent);
  color: var(--lightest);
  padding: 0 var(--quat);
}

small {
  opacity: var(--op-medium);
  font-size: 80%;
}

p + p {
  margin-top: var(--s);
}

p + h2 {
  margin-top: var(--xxl);
}

p + h3,
p + h4 {
  margin-top: var(--xl);
}

/* DEV
############################################################################ */
main {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}
main.fade {
  opacity: var(--op-medium);
}

aside {
  display: none;
}

/* Main Header
###########################################################################  */
.main-header {
  display: flex;
  z-index: var(--level-main-nav);
  background-color: var(--color-background);
  align-items: baseline;
}
.main-header .back-button {
  display: inline-block;
  width: var(--m);
  font-size: var(--xl);
}
.main-header .back-button.is-hidden {
  display: none;
}
.main-header .back-button:hover {
  color: var(--color-accent);
  background-color: transparent;
}
.main-header > * {
  margin: var(--s);
}
.main-header h1 {
  flex-grow: 2;
}

/* Main Footer
###########################################################################  */
.main-footer {
  padding: var(--quat) var(--s);
  font-size: var(--s);
  background-color: var(--light);
  color: var(--darker);
}

/* Overview
############################################################################ */
.overview, .path {
  margin: 0;
  padding: 0;
}
.overview li, .path li {
  position: relative;
  display: block;
  background-size: cover;
  background-position: center center;
  z-index: 0;
}
.overview li > a, .path li > a {
  position: relative;
  display: block;
  min-height: calc(var(--m) * 8);
  z-index: 2;
}
.overview li > a p, .path li > a p {
  position: absolute;
  bottom: var(--s);
  left: var(--xs);
  display: inline-block;
  font-size: var(--l);
  background-color: var(--obk-blau);
  transition: all var(--tr-fast);
  padding: var(--quat) var(--xs);
  color: var(--lightest);
  text-wrap: balance;
  margin-right: var(--m);
}
.overview li > a p:hover, .path li > a p:hover {
  transform: scale(1.2);
  transform-origin: bottom left;
}
.overview li::before, .path li::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 1;
}

.arjs-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#arjs-video {
  z-index: var(--level-content);
  overflow: hidden;
}

.arjs-loader div {
  text-align: center;
  font-size: 1.25em;
  color: white;
}

#media-controls {
  display: block;
  margin-bottom: 20px;
  z-index: 2;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

button {
  font-size: 20px;
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: var(--color-accent);
  color: var(--lighest);
  border-radius: 5px;
}

button:hover {
  background-color: var(--color-accent);
}

#playButton::before {
  content: "▶";
  /* Unicode symbol for Play */
}

#pauseButton::before {
  content: "II";
  /* Unicode symbol for Pause */
}

#stopButton::before {
  content: "■";
  /* Unicode symbol for Stop */
}

/* Info Card
############################################################################ */
.info-card-wrap {
  overscroll-behavior: none;
  background-color: var(--lightest);
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: var(--op-full);
  display: flex;
  flex-direction: column;
  border-top-left-radius: var(--border-radius-l);
  border-top-right-radius: var(--border-radius-l);
  box-shadow: var(--shadow-card);
  transition: max-height var(--tr-slow), padding var(--tr-fast);
  max-height: calc(var(--l) + var(--l));
}
.info-card-wrap.is-active {
  max-height: 80%;
}
.info-card-wrap .main-footer {
  margin-top: var(--l);
}
.info-card-content-wrap {
  overflow-y: auto;
  border: solid 1px #11dd66;
  flex-grow: 2;
}
.info-card-item {
  padding: 0 var(--s) var(--s) var(--s);
  flex-grow: 2;
}
.info-card-item:last-child {
  margin-bottom: var(--l);
}

/* Info Card Navigation
############################################################################ */
.info-card-navigation {
  text-align: center;
}
.info-card-navigation button {
  padding: 0;
  display: inline-block;
  height: var(--xs);
  border-radius: 2ch;
  width: 4ch;
  background-color: var(--color-accent);
  margin-top: var(--s);
  margin-bottom: var(--s);
}
.info-card-content-wrap {
  display: flex;
  flex-direction: column;
}

/* Video
###########################################################################  */
.video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.video iframe, .video video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* Map
############################################################################ */
.map {
  flex-grow: 2;
  min-height: 60vh;
}

.mapboxgl-map {
  font-family: var(--ff-normal);
  font-size: var(--s);
  line-height: var(--lh-normal);
  font-weight: var(--fw-normal);
}

/* Mapbox Popup
############################################################################ */
.mapboxgl-popup-close-button {
  color: var(--color-accent);
}
.mapboxgl-popup-content {
  background-color: var(--darkest);
  padding-bottom: var(--quat);
}
.mapboxgl-popup-content * {
  color: var(--lightest);
}

/* Mapbox Popup Tips
############################################################################ */
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: var(--darkest);
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: var(--darkest);
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: var(--darkest);
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: var(--darkest);
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: var(--darkest);
}

/* Map Card
############################################################################ */
.map-card-desc {
  line-height: var(--lh-normal);
}
.map-card-title {
  margin-top: var(--m);
}

/* CTA
############################################################################ */
button.cta {
  border-radius: 0;
  margin: var(--m) 0;
  font-size: var(--m);
  padding: var(--quat) var(--half);
  transition: all var(--tr-fast);
}
button.cta:hover {
  transform: scale(1.2);
  transform-origin: bottom left;
}

/* Device Info
############################################################################ */
.device-info {
  font-size: var(--xl);
  max-width: 40ch;
  line-height: var(--lh-normal);
}
.device-info .qr-code {
  margin-top: var(--xl);
}
.device-info .qr-code img {
  mix-blend-mode: darken;
  max-width: 10ch;
  margin-left: -15px;
}

/* Device Wrap
############################################################################ */
.device-wrapper {
  position: fixed;
  border: solid 1px #dd1166;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Large Screen
############################################################################ */
@media screen and (min-width: 800px) {
  .device-wrapper {
    width: 390px;
    height: 840px;
    border-radius: 30px;
    overflow: hidden;
    overflow-y: auto;
    border: solid 5px var(--darkest);
    background-color: var(--darkest);
    left: var(--l);
    box-shadow: var(--shadow-xl);
    flex-shrink: 0;
    position: relative;
  }

  .content-wrapper {
    margin-top: 50px;
    margin-bottom: 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }

  body {
    background-color: var(--light);
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
    gap: 8ch;
  }

  aside {
    display: block;
    flex-grow: 1;
    padding-right: var(--l);
  }
}
/* Overview
############################################################################ */
.overview main {
  opacity: var(--op-low);
  transition: all var(--tr-slow) var(--tr-fast);
}
.overview main.fade-in {
  opacity: 1;
}

/* Infotext
############################################################################ */
.info {
  padding: var(--xl) var(--s) var(--xxl) var(--s);
  background-color: var(--lightest);
}
.info p {
  font-weight: var(--fw-normal);
}

/* Textlink
############################################################################ */
ul.links .text-link a {
  background-color: var(--lighter);
  display: flex;
  align-items: center;
  padding: 0 var(--half);
  transition: all var(--tr-fast);
  border-top: solid var(--border-width-s) var(--color-accent);
}
ul.links .text-link a span {
  margin-right: var(--quat);
}
ul.links .text-link a:hover {
  background-color: var(--color-accent);
  color: var(--lightest);
}

/* POI
############################################################################ */
.poi {
  background-color: var(--light);
}
.poi .core-info img {
  display: block;
  margin-bottom: var(--s);
}
.poi .core-info figcaption {
  padding: var(--m) var(--s);
  font-weight: var(--fw-normal);
}
.poi .core-info figcaption p + p {
  margin-top: var(--xs);
}
.poi .maps-link {
  padding: var(--m) var(--s);
  display: flex;
  gap: var(--quat);
  align-items: baseline;
}
.poi .maps-link > * {
  display: block;
}
.poi .ar-desc {
  padding: var(--m) var(--s);
  display: flex;
  gap: var(--quat);
}

/* Path
############################################################################ */
.path main {
  transform: translateX(calc(var(--xxl) * 4));
  opacity: var(--op-low);
  transition: all var(--tr-slow);
}
.path main.move-left {
  transform: translateX(0);
  opacity: 1;
}

/* Page
############################################################################ */
.page main {
  padding: var(--m);
}

/*# sourceMappingURL=main.css.map */
